<div class="card p-3 shadow-sm">
  <h4 class="mb-3">{{ isEditMode ? 'Editar Cliente' : 'Registrar Nuevo Cliente' }}</h4>

  <form [formGroup]="clienteForm" (ngSubmit)="onSubmit()">

    <div class="row mb-3">
      <div class="col-md-6">
        <label>Nombre de Empresa</label>
        <input type="text" formControlName="nombreEmpresa" class="form-control">
      </div>
      <div class="col-md-6">
        <label>Contacto</label>
        <input type="text" formControlName="contacto" class="form-control">
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <label>Teléfono</label>
        <input type="text" formControlName="telefono" class="form-control">
      </div>
      <div class="col-md-6">
        <label>Email</label>
        <input type="email" formControlName="email" class="form-control">
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <label>Latitud</label>
        <input type="text" formControlName="latitud" class="form-control">
      </div>
      <div class="col-md-6">
        <label>Longitud</label>
        <input type="text" formControlName="longitud" class="form-control">
      </div>
    </div>

    <button type="submit" class="btn btn-primary">
      {{ isEditMode ? 'Actualizar Cliente' : 'Guardar Cliente' }}
    </button>
  </form>
</div>
